/* Задаем цвет фона */
body {
  background-color: #d41b9a;
}

/* Задаем цвет текста и шрифт */
h1, p {
  color: #880C25;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  line-height: 1.5em;
}

/* Задаем стили для заголовка */
h1 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

/* Задаем стили для параграфов */
p {
  text-align: justify;
  margin: 1em;
}

/* Задаем стили для ссылок */
a {
  color: #f05c8b;
  text-decoration: none;
  border-bottom: 2px solid #FF78A2;
}

a:hover {
  color: #880C25;
  border-bottom: 2px solid #880C25;
}
