body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: center;
  }
  
  .neon-button {
    font-size: 24px;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    background-color: transparent;
    color: #FF1493; /* Розовый цвет */
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 0 10px rgba(255, 20, 147, 0.7); /* Эффект неона */
  }
  
  .neon-button:hover {
    background-color: #FF1493; /* Розовый цвет */
    color: #000; /* Черный цвет для текста при наведении */
    box-shadow: 0 0 20px rgba(255, 20, 147, 1); /* Увеличение эффекта неона */
  }
  
  .blocked-container {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #ff0000;
    font-size: 24px;
    margin: 0;
}

p {
    font-size: 16px;
    margin: 10px 0;
}